@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #111827;
    --nust-green: #006633;
    --nust-gold: #FFD700;
  }

  .dark {
    --background: #111827;
    --foreground: #f9fafb;
    --nust-green: #008744;
    --nust-gold: #e6c200;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
